.order-summary-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 80%;
    margin: 10px auto;
    gap: 2rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.order-item-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: 400;
    width: 100%;
    border: 1px solid var(--primary-pink);
    position: relative;
    font-size: 1.25rem;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.event-datetime {
    margin-top: 5px;
    font-size: 0.875rem;
    color: var(--secondary-color);
}

.remove-btn {
    background: none;
    border: none;
    color: var(--primary-green);
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

@media (max-width: 500px) {
h1 {
    font-size: 2rem;
}

.order-item-details {
    font-size: 1.125rem;
}

.event-datetime {
    font-size: 0.75rem;
}

.remove-btn {
    font-size: 1.25rem;
    top: 0.75rem;
    right: 0.75rem;
}
}

@media (max-width: 374px) {
h1 {
    font-size: 1.75rem;
}

.order-item-details {
    font-size: 1rem;
}

.event-datetime {
    font-size: 0.7rem;
}

.remove-btn {
    font-size: 1rem;
    top: 0.5rem;
    right: 0.5rem;
}
}
