.eventspage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white);
  border: none;
  border-radius: 2px;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ccc;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--primary-white);
  gap: 2rem;
}

.event-date {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--primary-white);
  border-radius: 5px;
  font-weight: bold;
  width: 5rem;
  margin-right: 1rem;
}

.eventspage-wrapper p {
  font-size: 1rem;
}

.event-info {
  flex: 1;
}

.event-info .venue,
.event-info .time {
  font-size: 1rem;
}

.event-price {
  font-weight: bold;
  color: var(--primary-green);
}

.event-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 500px) {
  .search-input {
    font-size: 1.125rem;
  }

  .event-card {
    font-size: 1.125rem;
  }

  .event-date,
  .event-date p {
    font-size: 1.125rem;
  }

  .event-info .venue,
  .event-info .time {
    font-size: 1rem;
  }

  .event-price {
    font-size: 1.125rem;
  }
}

@media (max-width: 374px) {
  .search-input {
    font-size: 1rem;
  }

  .event-card {
    font-size: 1rem;
  }

  .event-date,
  .event-date p {
    font-size: 1rem;
  }

  .event-info .venue,
  .event-info .time {
    font-size: 0.875rem;
  }

  .event-price {
    font-size: 1rem;
  }
}
