.single-event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
  }
  
  .single-event-wrapper h3 {
    padding: 8px 0;
  }
  
  .event-info-detail {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .event-datetime-detail {
    font-weight: bold;
    color: var(--primary-green);
  }
  
  .single-event-title {
    font-family: 'Sansita One', sans-serif;
    font-size: 36px;
    color: var(--primary-pink);
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .event-add-to-cart-btn {
    margin-top: 2rem;
    width: 100%;
    color: var(--primary-white);
    background-color: var(--primary-green);
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
  }
  

  .quantity-box {
    background-color: inherit;
    border: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .quantity-ticket-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(245, 107, 154, 1);
    width: 100%;
    border: 1px solid var(--primary-pink);
    border-bottom: 0;
    box-sizing: border-box;
  }
  
  .quantity-controls {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  
  .quantity-btn {
    background-color: inherit;
    border: var(--primary-pink) solid 1px;
    border-radius: 0;
    color: var(--primary-white);
    font-size: 18px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quantity-number {
    display: flex;
    align-items: center;
    border: var(--primary-pink) solid;
    font-family: "Fira sans";
    border-left: hidden;
    border-right: hidden;
    justify-content: center;
    font-size: 18px;
    color: var(--primary-white);
    width: 100%;
    height: 100%;
  }
  
  .cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.35);
  }
  
  .cart-popup-content {
    background-color: var(--primary-white);
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    color: var(--primary-black);
    max-width: 80%;
    width: 100%;
  }
  
  .cart-popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .cart-popup-buttons button {
    padding: 20px;
    font-weight: bold;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
  }
  
  .cart-popup-buttons button:first-child {
    background-color: var(--primary-green);
    color: var(--primary-white);
  }
  
  .cart-popup-buttons button:last-child {
    background-color: var(--primary-pink);
    color: var(--primary-white);
  }
  
  @media (max-width: 600px) {
    .cart-popup-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .cart-popup-buttons button {
      width: 80%;
      margin: 10px 0;
    }
  }
  